
*{
    padding:0px;
    margin: 0px;
}
.body{
    width: 100%;
    height: 100vh;
    background-image: url(back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.div_input_search{
    display: flex;
    padding: 20px 25px;
}

#search{
    padding-left: 10px;
    width: 180%;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.463);
    border: none;
    outline: none;
    border-radius: 5px;
}

.Part1{
    width: 50%;
    padding-left: 55px;
    margin-top: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
}
.ville{
    display: flex;
    flex-direction: column;
}
#chance{
    margin: 0px;
}
#num{
    font-size: 55px;
    font-weight: 500;
    margin: 0px;
}
#soleil_icone{
    width: 100px;
    height: 100px;
    margin-top: 25px;
}

.Part2{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.326);
    backdrop-filter: blur(20px);
    padding-left: 25px;
    margin-top: 20px;
    padding: 10px 20px ;

}
.Icones{
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 50px;
}

#icon{
    width: 48px
}
#degree{
   
  display: flex;
    justify-content: center; 
    align-items: center
}


#Icon_day{
    width: 48px;
}
.Part3{
    margin-top: 25px;
    background: #ffffff3e;
    backdrop-filter: blur(20px);
    padding: 10px 20px;
    text-align: end;
    padding-bottom: 20px;
    width: 30%;
}
.jour{
    display: flex;
}
.statu{
    display: flex;
    width: 45%;
    justify-content: space-between;
    text-align: left;
    padding: 0 20px;
}
#d1{
    width: 20%;
}
.statu > p{
    text-align: left;
}

.sec1{
    display: flex;
    flex-direction: row;
}

.sec1{
    width: 100%;
    justify-content: space-around;
    display: flex;
    align-items: center;

}
.jour {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: left;
}
.days{
    display: flex;
    flex-direction:row;
    row-gap: 40px;
}
#para{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
#bothTemp{
    display: flex;
    align-items: center;
    justify-content: center;

}
.all{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.ligne{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    height:20%;
    background-color: rgba(255, 255, 255, 0.326);
 }
